extends layout

block content
    a(name='home')
    .home(itemscope, itemtype="http://schema.org/Organization", style='padding: 20px 0px')
        h1: a(href='/', itemprop="url") leftshift
    a(name='love')
    .whatwedo
        .box
            h1 What has love got to do with making apps?
            p There is only one way to make amazing software. First, you find the most talented, enthusiastic, passionate, endearing and hard working team that can be found. Then, you find an idea, as bold and as refreshing as only ideas can be. And then, you let the two fall in love.
            p Love is what drives a developer to tweak an animation, which only lasts a second, with infinite permutations till it becomes perfect. Love is what drives a designer to alter pixel after pixel so that the icon looks perfect at 24 by 24 pixels.
            p Love is what turns a good app into a piece of art.
    .footer
        .box
            p
                | Find out more about our 
                a(href='/#skills') services
                br
                | Find out who's on our 
                a(href='/#team') team
                br
                | Subscribe to our   
                a(href='http://eepurl.com/Rclb1', target='_blank') newsletter
                br
                | Check out our 
                a(href='/#portfolio') portfolio
                br
                | Here's how to  
                a(href='/careers') join us
                br
                | Follow us on 
                a(href='https://twitter.com/leftshifters', target='_blank') Twitter
                br
                | Get in touch 
                a(href='/#contact') with us
                br
                | Check out our 
                a(href='/blog') blog
                br
                | Go back to 
                a(href='/#home') home
            br
            p All text and design is copyright &copy;2007-2016 LeftShift Technologies Pvt Ltd
