doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9", xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0")
	url
		loc https://leftshift.io
		priority 1.000
	url
		loc https://leftshift.io/love
		priority 0.200
	url
		loc https://leftshift.io/bookmyshow-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/peppertap-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/faasos-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/citrus-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/iifl-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/byjus-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/laundrie-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/nh7-intown-mobile-apps
		priority 0.5000
	url
		loc https://leftshift.io/smsblocker-android-app
		priority 0.5000
	url
		loc https://leftshift.io/stepjockey-android-app
		priority 0.5000
	url
		loc https://leftshift.io/9slides-ipad-app
		priority 0.5000
	url
		loc https://leftshift.io/automatic-iphone-app
		priority 0.5000
	url
		loc https://leftshift.io/everest-basecamp-android-app
		priority 0.5000
	url
		loc https://leftshift.io/live-phish-iphone-app
		priority 0.5000
	url
		loc https://leftshift.io/live-metallica-official-iphone-app
		priority 0.5000
	url
		loc https://leftshift.io/sitemap.xml
		priority 0.5000
	url
		loc https://leftshift.io/blog
		priority 0.8000
	url
		loc https://leftshift.io/careers
		priority 0.4000
	url
		loc https://leftshift.io/8-tips-for-angular-js-beginners
		priority 0.4000
	url
		loc https://leftshift.io/6-ways-to-make-your-lists-scroll-faster-than-the-wind
		priority 0.4000
	url
		loc https://leftshift.io/making-apps-presentation-at-the-coalition
		priority 0.4000
	url
		loc https://leftshift.io/how-to-test-android-with-limited-budget-part-1
		priority 0.4000
	url
		loc https://leftshift.io/android-inversion-of-control-dependency-injection-dagger-part-1
		priority 0.4000
	url
		loc https://leftshift.io/multipeer-connectivity-ibeacons-other-interesting-features-ios7
		priority 0.4000
	url
		loc https://leftshift.io/downloads-sketch-files-for-macaw
		priority 0.400
	url
		loc https://leftshift.io/4-javascript-optimisations-you-should-know
		priority 0.400
	url
		loc https://leftshift.io/upgrading-nginx-to-the-latest-version-on-ubuntu-servers
		priority 0.400
	url
		loc https://leftshift.io/how-i-deployed-sonatype-nexus-in-5-minutes
		priority 0.400
	url
		loc https://leftshift.io/getting-apps-done
		priority 0.400
	url
		loc https://leftshift.io/ios-64-bit-me-today
		priority 0.400
	url
		loc https://leftshift.io/mobile-tracking-uninstalls-on-ios-and-android
		priority 0.400