extends layout

block content
  .base.stories
    .mainbg.fifthbg
        .text
            .center
                h2 Stories
            .center.thirdbg.bmsbg
                .subtext2
                    a(href='/stories/bookmyshow')
                        | BookMyShow
                        br
                        .subtext3 Reinventing ticketing on mobile devices
            .center.fourthbg
                .subtext2
                    a(href='/stories/nh7-intown')
                        | NH7 InTown
                        br
                        .subtext3 A comprehensive guide to your town
            .center.thirdbg
                .subtext2
                    a(href='/stories/bookmyshow')
                        | Qliktag
                        br
                        .subtext3 Redefining the brand-buyer relationship
            .center.fourthbg
                .subtext2
                    a(href='/stories/nh7-intown')
                        | Live Metallica
                        br
                        .subtext3 Bringing Metallica to the AppStore
            .center.thirdbg
                .subtext2
                    a(href='/stories/nh7-intown')
                        | Everest or 9Slides or Automatic
                        br
                        .subtext3 Bringing basecamp to android devices