extends bloglayout

block content
    .back: a(href='/', itemprop="url") leftshift
    .home(itemscope, itemtype="http://schema.org/Organization", style='padding: 20px 0px')
        h1: a(href='/blog', itemprop="url") leftshift
    .blog
        .box
            .pagination
                if previous
                    .previous
                        a(href='/tag/' + tag + '/' + previous) < Previous
                if next
                    .next
                        a(href='/tag/' + tag + '/' + next) Next >
                .clear
            if previous || next
                hr
            each post in posts
                h1(itemprop='name'): a(href='/' + post.slug)= post.title
                .meta written by #{post.author} on #{post.date}
                p= post.intro
                hr
            .pagination
                if previous
                    .previous
                        a(href='/tag/' + tag + '/' + previous) < Previous
                if next
                    .next
                        a(href='/tag/' + tag + '/' + next) Next >
                .clear
    .footer
        .box
            p
                | Find out more about our 
                a(href='/#skills') services
                br
                | Find out who's on our 
                a(href='/#team') team
                br
                | Subscribe to our   
                a(href='http://eepurl.com/Rclb1', target='_blank') newsletter
                br
                | Check out our 
                a(href='/#portfolio') portfolio
                br
                | Here's how to  
                a(href='/careers') join us
                br
                | Follow us on 
                a(href='https://twitter.com/leftshifters', target='_blank') Twitter
                br
                | Get in touch 
                a(href='/#contact') with us
                br
                | Check out our 
                a(href='/blog') blog
                br
                | Go back to 
                a(href='/#home') home
            br
            p All text and design is copyright &copy;2007-2016 LeftShift Technologies Pvt Ltd
    script(src='/javascripts/highlight.pack.js')
    script hljs.initHighlightingOnLoad();