body {
  font-family: "freight-text-pro", sans-serif;
  font-weight: 200;
  font-size: 22px;
  background-color: #000;
  height: 100%;
}

.button {
  font-size: 16px;
  font-weight: 400;
  color: #888;
  padding: 15px 21px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 9px;
  border-radius: 9px;
  text-decoration: none;
  margin-top: 20px;
}

.green-button {
  background: #409f89;
  color: #fff;
  box-shadow: 0 3px #348774;
}

.red-button {
  background: #e70000;
  color: #fff;
  box-shadow: 0 3px #860000;
}

.appstore {
  background-image: url("/images/appstore.png");
  height: 40px;
  width: 135px;
  display: inline-block;
}

.googleplay {
  background-image: url("/images/googleplay.png");
  height: 40px;
  width: 135px;
  display: inline-block;
}

.button2 {
  font-family: "freight-sans-pro", sans-serif;
  border: none;
  outline: none;
  font-size: 16px;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: auto;
  position: relative;
  float: left;
  -webkit-user-select: none;
  margin-top: 10px;
  -moz-user-select: none;
  -webkit-appearance: none;
  font-weight: 100;
  -ms-user-select: none;
  -webkit-transition: all 0 ease-in-out;
  -moz-transition: all 0 ease-in-out;
  -o-transition: all 0 ease-in-out;
  transition: all 0 ease-in-out;
  padding: 15px 30px;
  text-decoration: none;
}

.clear {
  clear: both;
}

.home {
  height: 100%;
  width: 100%;
  background-color: #f83;
}

.home h1 {
  text-align: center;
  font-size: 70px;
  font-family: "adelle", sans-serif;
}

.home h1 a {
  color: #000;
  text-decoration: none;
}

.home h2 {
  text-align: center;
  font-size: 64px;
  font-family: "adelle", sans-serif;
  margin: 10px 0px;
  font-weight: normal;
  color: #313131;
}

.home p {
  text-align: center;
  margin: 0px auto;
  font-size: 30px;
  color: #313131;
}

.home p .star {
  font-size: 20px;
}

.whatwedo {
  width: 100%;
  background-color: black;
  color: white;
}

.whatwedo .box {
  margin: 0px auto;
}

.whatwedo .box h2 {
  font-size: 40px;
}

.whatwedo .box h2 a {
  text-decoration: none;
  color: #fff;
}

.whatwedo .box p {
  padding-top: 20px;
  font-size: 24px;
  color: #888;
}

.skills {
  width: 100%;
  background-color: #f7f7f7;
  color: black;
}

.skills .box {
  margin: 0px auto;
}

.skills .box h2 {
  font-size: 40px;
}

.skills .lists {
  margin: 0px auto;
}

.skills .lists-end {
  padding-bottom: 150px;
}

.skills .lists .list3 {
}

.skills .lists .list3 h4 {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 30px;
}

.skills .lists .list3 h4 span {
  font-weight: 200;
}

.skills .lists .list3 p {
  font-size: 20px;
  font-weight: 200;
  text-align: left;
}

.skills .lists .list3 p a {
  margin-top: 0px;
  font-weight: 100;
}

.skills .lists .list3 p a span {
  font-weight: 700;
}

.portfolio {
  width: 100%;
  background-color: black;
  color: white;
}

.portfolio .box {
  margin: 0px auto;
}

.portfolio .box h2 {
  font-weight: 700;
}

.project {
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  overflow: hidden;
  text-align: center;
}

.project .box h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0px;
}

.project .box h1 a {
  text-decoration: none;
  color: #000;
}

.project .box h3 {
  font-weight: 100;
  font-size: 48px;
  color: #888;
  margin-top: 0px;
}

.project .box p {
  color: #888;
}

.project1 {
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  overflow: hidden;
}

.project1 .box .details h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
}

.project1 .box .details h2 a {
  text-decoration: none;
  color: #000;
}

.project1 .box .details h4 {
  font-weight: 100;
  color: #888;
  margin-top: 0px;
}

.project1 .box .details p {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 18px;
}

.project2 {
  width: 100%;
  background-color: #ffffff;
  color: black;
}

.project2 .box .details h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
}

.project2 .box .details h2 a {
  text-decoration: none;
  color: #000;
}

.project2 .box .details h4 {
  font-weight: 100;
  color: #888;
  margin-top: 0px;
}

.project2 .box .details p {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 18px;
}

.team {
  width: 100%;
  background-color: black;
  color: white;
}

.team .box {
  margin: 0px auto;
}

.team .lists {
  width: 90%;
  margin: 0px auto;
  padding-bottom: 150px;
}

.team .lists .list12 img {
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  margin: 0px 10%;
  width: 90%;
}

.team .lists .list12 h4 {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 16px;
  text-align: center;
  display: none;
}

.team .lists .list12 h4 span {
  font-weight: 200;
}

.team .lists .list12 p {
  font-size: 18px;
  font-weight: 200;
}

.team .lists .list12 p a {
  font-weight: 100;
}

.team .lists .list12 p a span {
  font-weight: 700;
}

.clients {
  width: 100%;
  background-color: white;
  color: black;
}

.clients .box {
  margin: 0px auto;
}

.clients .box h2 {
  font-size: 40px;
}

.clients .box h2 a {
  text-decoration: none;
  color: black;
}

.clients .box p {
  padding-top: 20px;
  font-size: 24px;
  color: #888;
}

.clients .lists {
  margin: 0px auto;
  padding-bottom: 150px;
}

.clients .lists .list12 img {
  /*-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;*/
  /*margin: 0px 10%;*/
  width: 100%;
}

.clients .lists .list12 h4 {
  font-family: "jaf-bernina-sans", sans-serif;
  font-size: 16px;
  text-align: center;
  display: none;
}

.clients .lists .list12 h4 span {
  font-weight: 200;
}

.clients .lists .list12 p {
  font-size: 18px;
  font-weight: 200;
}

.clients .lists .list12 p a {
  font-weight: 100;
}

.clients .lists .list12 p a span {
  font-weight: 700;
}

.contact {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

.contact h2 {
  text-align: center;
  font-size: 70px;
}

.contact p {
  text-align: left;
  margin: 0px auto;
  font-size: 24px;
}

.contact a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed #000;
}

.footer {
  width: 100%;
  color: #888;
  background-color: black;
  padding: 30px 0px;
}

.footer .box {
  margin: 0px auto;
}

.footer .box p {
  font-size: 20px;
  margin: 0px;
}

.footer .box a {
  color: #ccc;
  text-decoration: none;
}

.back {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #000;
  padding: 10px;
}

.back a {
  font-family: "adelle", sans-serif;
  text-decoration: none;
  color: #fff;
}

.blog {
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  overflow: hidden;
  text-align: center;
}

.blog .box {
  margin: 100px auto 200px;
  text-align: left;
}

.blog .box p {
  margin-top: 0px;
  margin-bottom: 40px;
}

.blog .box h1 {
  line-height: normal;
  font-weight: 700;
  letter-spacing: -1px;
  text-indent: -2px;
  margin-bottom: 0px;
}

.blog .box h1 a {
  text-decoration: none;
  color: #000;
}

.blog .box .meta {
  font-size: 20px;
  color: #bbb;
  line-height: 24px;
}

.blog .box .meta a {
  color: #bbb;
}

.blog .box hr {
  color: #f7f7f7;
  border-width: 1px 0px 0px;
  border-style: dashed;
  border-color: #ddd;
}

.blog .box .pagination {
}

.blog .box .pagination a {
  color: #888;
  text-decoration: none;
  font-style: italic;
}

.blog .box .pagination .previous {
  float: left;
}

.blog .box .pagination .next {
  float: right;
}

.blog-post {
  width: 100%;
  background-color: #f7f7f7;
  color: black;
  overflow: hidden;
  text-align: center;
}

.blog-post .box {
  margin: 100px auto;
  text-align: left;
}

.blog-post .box h1 {
  line-height: normal;
  font-weight: 700;
  letter-spacing: -1px;
  text-indent: -2px;
}

.blog-post .box h1 a {
  text-decoration: none;
  color: #000;
}

.blog-post .box h2 {
  line-height: normal;
  color: #222;
  letter-spacing: -1px;
  text-indent: -2px;
}

.blog-post .box h3 {
  line-height: normal;
  color: #222;
  letter-spacing: -1px;
  text-indent: -2px;
}

.blog-post .box h4 {
  line-height: normal;
  color: #222;
  letter-spacing: -1px;
  text-indent: -2px;
}

.blog-post .box p {
  color: #444;
}

.blog-post .box ol {
  color: #444;
}

.blog-post .box code {
  color: #444;
  -moz-box-shadow: 1px 1px 6px 2px #eee;
  -webkit-box-shadow: 1px 1px 6px 2px #eee;
  box-shadow: 1px 1px 6px 2px #eee;
}

.blog-post .box blockquote {
  border-left: #e0e0e0 0.4em solid;
  padding-left: 40px;
  margin: 40px 0px;
  font-style: italic;
}

.blog-post .box a {
  color: #000;
}

.blog-post .box .author {
  margin-top: 50px;
  font-size: 30px;
  font-style: italic;
  color: #999;
}

.blog-post .box .date {
  font-size: 20px;
  font-style: italic;
  color: #bbb;
}

.blog-post .box .date a {
  color: #bbb;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.blog-post img {
  width: 100%;
}

.notfound {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  color: black;
  overflow: hidden;
  text-align: center;
}

.notfound h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0px;
}

.notfound h3 {
  font-weight: 100;
  font-size: 48px;
  color: #888;
  margin-top: 0px;
}

@media (min-width: 1200px) {
  /*body { background-color: #ffde00; }*/
  .home {
    padding: 150px 0px 200px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 920px;
    padding: 120px 0px 180px;
    text-align: center;
  }
  .skills .box {
    width: 920px;
    padding: 100px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 1044px;
  }
  .skills .lists .list3 {
    width: 313px;
    float: left;
    padding: 16px;
  }
  .portfolio .box {
    width: 920px;
    text-align: center;
    padding: 200px 0px;
  }
  .portfolio .box h2 {
    font-size: 90px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 100%;
  }
  .project .box p {
    font-size: 30px;
    width: 768px;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 40%;
    float: left;
  }
  .project1 .box .image {
    width: 60%;
    float: right;
  }
  .project1 .box .image img {
    width: 100%;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 40%;
    float: right;
  }
  .project2 .box .image {
    width: 60%;
    float: left;
  }
  .project2 .box .image img {
    width: 100%;
    margin-left: -20%;
  }
  .team .box {
    width: 920px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .team .lists .list12 {
    width: 11.25%;
    float: left;
    padding-right: 1.25%;
    padding-bottom: 1.25%;
  }
  .clients .box {
    width: 920px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .clients .lists {
    width: 75%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 200px 0px 300px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 920px;
    text-align: center;
  }
  .blog .box {
    width: 768px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box {
    width: 768px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box h1 {
    font-size: 68px;
  }
  .blog-post .box h2 {
    font-size: 54px;
  }
  .blog-post .box h3 {
    font-size: 42px;
  }
  .blog-post .box h4 {
    font-size: 32px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 28px;
  }
  .notfound {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  /*body { background-color: #ccde33; }*/
  .home {
    padding: 150px 0px 200px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 920px;
    padding: 120px 0px 180px;
    text-align: center;
  }
  .skills .box {
    width: 920px;
    padding: 100px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 864px;
  }
  .skills .lists .list3 {
    width: 260px;
    float: left;
    padding: 12px;
  }
  .portfolio .box {
    width: 920px;
    text-align: center;
    padding: 200px 0px;
  }
  .portfolio .box h2 {
    font-size: 90px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 100%;
  }
  .project .box p {
    font-size: 30px;
    width: 768px;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 40%;
    float: left;
  }
  .project1 .box .image {
    width: 60%;
    float: right;
  }
  .project1 .box .image img {
    width: 100%;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 40%;
    float: right;
  }
  .project2 .box .image {
    width: 60%;
    float: left;
  }
  .project2 .box .image img {
    width: 100%;
    margin-left: -30%;
  }
  .team .box {
    width: 920px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .team .lists .list12 {
    width: 11.25%;
    float: left;
    padding-right: 1.25%;
    padding-bottom: 1.25%;
  }
  .clients .box {
    width: 920px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .clients .lists {
    width: 75%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 200px 0px 300px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 920px;
    text-align: center;
  }
  .blog .box {
    width: 768px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box {
    width: 768px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box h1 {
    font-size: 68px;
  }
  .blog-post .box h2 {
    font-size: 54px;
  }
  .blog-post .box h3 {
    font-size: 42px;
  }
  .blog-post .box h4 {
    font-size: 32px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 28px;
  }
  .notfound {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /*body { background-color: #99de66; }*/
  .home {
    padding: 150px 0px 200px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 720px;
    padding: 120px 0px 180px;
    text-align: center;
  }
  .skills .box {
    width: 720px;
    padding: 100px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 706px;
  }
  .skills .lists .list3 {
    width: 212px;
    float: left;
    padding: 11px;
  }
  .portfolio .box {
    width: 720px;
    text-align: center;
    padding: 200px 0px;
  }
  .portfolio .box h2 {
    font-size: 90px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 100%;
    padding-top: 60px;
  }
  .project .box p {
    font-size: 30px;
    width: 640px;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 100%;
  }
  .project1 .box .image {
    width: 100%;
  }
  .project1 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 100%;
  }
  .project2 .box .image {
    width: 100%;
  }
  .project2 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .team .box {
    width: 720px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .team .lists .list12 {
    width: 11.25%;
    float: left;
    padding-right: 1.25%;
    padding-bottom: 1.25%;
  }
  .clients .box {
    width: 720px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .clients .lists {
    width: 75%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 200px 0px 300px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 720px;
    text-align: center;
  }
  .blog .box {
    width: 640px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box {
    width: 640px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box h1 {
    font-size: 68px;
  }
  .blog-post .box h2 {
    font-size: 54px;
  }
  .blog-post .box h3 {
    font-size: 42px;
  }
  .blog-post .box h4 {
    font-size: 32px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 28px;
  }
  .notfound {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 640px) and (max-width: 768px) {
  /*body { background-color: #66de99; }*/
  .home {
    padding: 150px 0px 200px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 600px;
    padding: 120px 0px 180px;
    text-align: center;
  }
  .skills .box {
    width: 600px;
    padding: 100px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 614px;
  }
  .skills .lists .list3 {
    width: 184px;
    float: left;
    padding: 9px;
  }
  .portfolio .box {
    width: 600px;
    text-align: center;
    padding: 200px 0px;
  }
  .portfolio .box h2 {
    font-size: 70px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 100%;
    padding-top: 60px;
  }
  .project .box p {
    font-size: 30px;
    width: 480px;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 100%;
  }
  .project1 .box .image {
    width: 100%;
  }
  .project1 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 100%;
  }
  .project2 .box .image {
    width: 100%;
  }
  .project2 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .team .box {
    width: 600px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .team .lists .list12 {
    width: 11.25%;
    float: left;
    padding-right: 1.25%;
    padding-bottom: 1.25%;
  }
  .clients .box {
    width: 600px;
    text-align: center;
    padding: 100px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .clients .lists {
    width: 75%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 200px 0px 300px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 600px;
    text-align: center;
  }
  .blog .box {
    width: 480px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box {
    width: 480px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box h1 {
    font-size: 68px;
  }
  .blog-post .box h2 {
    font-size: 54px;
  }
  .blog-post .box h3 {
    font-size: 42px;
  }
  .blog-post .box h4 {
    font-size: 32px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 28px;
  }
  .notfound {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  /*body { background-color: #33decc; }*/
  .home {
    padding: 105px 0px 135px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 92%;
    padding: 84px 0px 126px;
    text-align: center;
  }
  .skills .box {
    width: 92%;
    padding: 70px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 92%;
  }
  .skills .lists .list3 {
  }
  .portfolio .box {
    width: 92%;
    text-align: center;
    padding: 140px 0px;
  }
  .portfolio .box h2 {
    font-size: 60px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 100%;
    padding-top: 60px;
  }
  .project .box p {
    font-size: 30px;
    width: 360px;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 100%;
  }
  .project1 .box .image {
    width: 100%;
  }
  .project1 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 100%;
  }
  .project2 .box .image {
    width: 100%;
  }
  .project2 .box .image img {
    width: 100%;
    padding-top: 60px;
  }
  .team .box {
    width: 92%;
    text-align: center;
    padding: 70px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .team .lists .list12 {
    width: 15%;
    float: left;
    padding-right: 1.66%;
    padding-bottom: 1.66%;
  }
  .clients .box {
    width: 92%;
    text-align: center;
    padding: 70px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 120px;
  }
  .clients .lists {
    width: 85%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 140px 0px 200px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 92%;
    text-align: center;
  }
  .blog .box {
    width: 360px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box {
    width: 360px;
    font-size: 24px;
    line-height: 40px;
  }
  .blog-post .box h1 {
    font-size: 68px;
  }
  .blog-post .box h2 {
    font-size: 54px;
  }
  .blog-post .box h3 {
    font-size: 42px;
  }
  .blog-post .box h4 {
    font-size: 32px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 28px;
  }
  .notfound {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  /*body { background-color: #00deff; }*/
  .home {
    padding: 75px 0px 82px;
  }
  .home p {
    width: 360px;
  }
  .whatwedo .box {
    width: 92%;
    padding: 60px 0px 90px;
    text-align: left;
  }
  .skills .box {
    width: 92%;
    padding: 50px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 92%;
  }
  .skills .lists .list3 {
  }
  .portfolio .box {
    width: 92%;
    text-align: center;
    padding: 100px 0px;
  }
  .portfolio .box h2 {
    font-size: 50px;
  }
  .project .box {
    width: 92%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 110%;
    margin-left: -5%;
  }
  .project .box p {
    font-size: 30px;
    width: 92%;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 92%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 100%;
  }
  .project1 .box .image {
    width: 100%;
  }
  .project1 .box .image img {
    width: 110%;
    padding-top: 60px;
    margin-left: -5%;
  }
  .project2 .box {
    width: 92%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 100%;
  }
  .project2 .box .image {
    width: 100%;
  }
  .project2 .box .image img {
    width: 110%;
    padding-top: 60px;
    margin-left: -5%;
  }
  .team .box {
    width: 92%;
    text-align: center;
    padding: 50px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }
  .team .lists .list12 {
    width: 18%;
    float: left;
    padding-right: 2%;
    padding-bottom: 2%;
  }
  .clients .box {
    width: 92%;
    text-align: center;
    padding: 50px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 80px;
  }
  .clients .lists {
    width: 90%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 100px 0px 124px;
  }
  .contact p {
    width: 360px;
  }
  .footer .box {
    width: 92%;
    text-align: center;
  }
  .blog .box {
    width: 92%;
    font-size: 22px;
    line-height: 32px;
  }
  .blog-post .box {
    width: 92%;
    font-size: 22px;
    line-height: 32px;
  }
  .blog-post .box h1 {
    font-size: 40px;
  }
  .blog-post .box h2 {
    font-size: 32px;
  }
  .blog-post .box h3 {
    font-size: 26px;
  }
  .blog-post .box h4 {
    font-size: 24px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 20px;
  }
  .notfound {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 360px) {
  /*body { background-color: #00deff; }*/
  .home {
    padding: 60px 0px 75px;
  }
  .home p {
    width: 90%;
  }
  .whatwedo .box {
    width: 92%;
    padding: 48px 0px 72px;
    text-align: left;
  }
  .skills .box {
    width: 92%;
    padding: 40px 0px 0px;
    text-align: center;
  }
  .skills .lists {
    width: 92%;
  }
  .skills .lists .list3 {
  }
  .portfolio .box {
    width: 92%;
    text-align: center;
    padding: 80px 0px;
  }
  .portfolio .box h2 {
    font-size: 50px;
  }
  .project .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project .box img {
    width: 120%;
    padding-top: 60px;
    margin-left: -10%;
  }
  .project .box p {
    font-size: 30px;
    width: 92%;
    margin: 40px auto 20px;
  }
  .project1 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project1 .box .details {
    width: 100%;
  }
  .project1 .box .image {
    width: 100%;
  }
  .project1 .box .image img {
    width: 120%;
    padding-top: 60px;
    margin-left: -10%;
  }
  .project2 .box {
    width: 80%;
    margin: 0px auto;
    padding: 80px 0px;
  }
  .project2 .box .details {
    width: 100%;
  }
  .project2 .box .image {
    width: 100%;
  }
  .project2 .box .image img {
    width: 120%;
    padding-top: 60px;
    margin-left: -10%;
  }
  .team .box {
    width: 92%;
    text-align: center;
    padding: 40px 0px 0px;
  }
  .team .box h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .team .lists .list12 {
    width: 22.5%;
    float: left;
    padding-right: 2.5%;
    padding-bottom: 2.5%;
  }
  .clients .box {
    width: 92%;
    text-align: center;
    padding: 40px 0px 0px;
  }
  .clients .box h2 {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .clients .lists {
    width: 95%;
  }
  .clients .lists .list12 {
    width: 16.66%;
    float: left;
    padding-bottom: 1%;
  }
  .contact {
    padding: 80px 0px 100px;
  }
  .contact p {
    width: 90%;
  }
  .footer .box {
    width: 92%;
    text-align: center;
  }
  .blog .box {
    width: 92%;
    font-size: 22px;
    line-height: 32px;
  }
  .blog-post .box {
    width: 92%;
    font-size: 22px;
    line-height: 32px;
  }
  .blog-post .box h1 {
    font-size: 40px;
  }
  .blog-post .box h2 {
    font-size: 32px;
  }
  .blog-post .box h3 {
    font-size: 26px;
  }
  .blog-post .box h4 {
    font-size: 24px;
  }
  .blog-post .box code {
    font-size: 16px;
    line-height: 20px;
  }
  .notfound {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
