---
import "../styles/normalise.css";
import "../styles/style.css";
import "../styles/solarized_light.css";

import Footer from '../layout/Footer.astro'
import Header from '../layout/Header.astro'
import Home from '../layout/Home.astro'
import Love from '../layout/Love.astro'
import Skills from '../layout/Skills.astro'
import Portfolio from "../layout/Portfolio.astro";
import Clients from "../layout/Clients.astro";
import Team from "../layout/Team.astro"
import Contact from "../layout/Contact.astro";
---
<html lang="en">
	<head>
		<Header />
		<title>Leftshift</title>
	</head>
	<body>
		<Home />
		<Love />
		<Skills />
		<Clients />
		<Portfolio />
		<Team />
		<Contact />
		<Footer />
	</body>
</html>