---
---
<a name="contact"></a>
<div class="contact">
    <div class="box">
        <h2>Get in touch with us</h2>
        <p>Email : <a href="mailto:pune@leftshift.io">pune@leftshift.io</a></p>
        <p>Twitter : <a href="https://twitter.com/intent/tweet?in_reply_to=433854322875437056">@leftshifters</a></p>
        <br>
        <p>103, Tower 1, World Trade Center, Kharadi, Pune - 411014, India</p>
    </div>
</div>