---
---
<a name="home"></a>
<div class="home">
    <h1>
        <a href="/">
            <img src="/images/logo-thing3.png" />
        </a>
    </h1>
    <h2>leftshift</h2>
    <p>we create loveable apps</p>
    <p>
        iOS
        <span class="star"> ★</span>
        android
        <span class="star"> ★</span>
        web
    </p>
</div>