---
---
<a name="love"></a>
<div class="whatwedo">
    <div class="box">
        <h2>
            <a href="/love">What has love got to do with making apps?</a>
        </h2>
        <p>There is only one way to make amazing software. First, you find the most talented, enthusiastic, passionate, endearing and hard working team that can be found. Then, you find an idea, as bold and as refreshing as only ideas can be. And then, you let the two fall in love.</p>
        <p>Love is what drives a developer to tweak an animation, which only lasts a second, with infinite permutations till it becomes perfect. Love is what drives a designer to alter pixel after pixel so that the icon looks perfect at 24 by 24 pixels.</p>
        <p>Love is what turns a good app into a piece of art.</p>
    </div>
</div>