---
---
<a name="skills"></a>
<div class="skills">
    <div class="box">
        <h2>Here is what we can do for you</h2>
        <p>
            We are the mobile specialists that you've been looking for. We can help
            <b>ideate</b>
            ,
            <b>design</b>
            and
            <b>develop</b>
            applications and their backends. All of our work revolves around the iPhone, iPad, Android and Node.js
        </p>
    </div>
    <div class="lists">
        <div class="list3">
            <h4>Create <span>Products</span></h4>
            <p>We can help create new products for your team. Most clients prefer to have us churn out the first version of the product while they setup an internal team for development and support.</p>
            <p><a class="button2 green-button" href="#intown">See what we did for <span>NH7</span></a></p>
            <p class="clear"></p>
        </div>
        <div class="list3">
            <h4>Improve <span>Products</span></h4>
            <p>We can take your existing mobile and web products, and redefine them for your customers. The usual suspects would be products which haven't been worked upon in a long time.</p>
            <p><a class="button2 green-button" href="#bookmyshow">See what we did for <span>BookMyShow</span></a></p>
            <p class="clear"></p>
        </div>
        <div class="list3">
            <h4>Expand <span>Products</span></h4>
            <p>We can help migrate your products to new platforms. Most products start with a smaller set of platforms, due to a lack of time or budget. We help in taking them to newer platforms.</p>
            <p><a class="button2 green-button" href="#stepjockey">See what we did for <span>StepJockey</span></a></p>
            <p class="clear"></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="lists-end"></div>
</div>