---
const team = [
  {
    name: "Sudhanshu",
    picture: "/images/people/sudhanshu.jpg",
  },
  {
    name: "Abhinit",
    picture: "/images/people/abhinit.jpg",
  },
  {
    name: "Abhinav",
    picture: "/images/people/abhinav.jpg",
  },
  {
    name: "Shekhar",
    picture: "/images/people/shekhar.jpg",
  },
  {
    name: "Debjeet",
    picture: "/images/people/debjeet.jpg",
  },
  {
    name: "Vishal",
    picture: "/images/people/vishal.jpg",
  },
  {
    name: "Chetan",
    picture: "/images/people/chetan.jpg",
  },
  {
    name: "Prama",
    picture: "/images/people/prama.jpg",
  },
  {
    name: "Vinod",
    picture: "/images/people/vinod.jpg",
  },
  {
    name: "Gandharva",
    picture: "/images/people/gandharva.jpg",
  },
  {
    name: "Harshad",
    picture: "/images/people/harshad.jpg",
  },
  {
    name: "Vikas",
    picture: "/images/people/vikas.jpg",
  },
  {
    name: "Abhishek",
    picture: "/images/people/abhishek.jpg",
  },
  {
    name: "Rushiraj",
    picture: "/images/people/rushi.jpg",
  },
  {
    name: "Neha",
    picture: "/images/people/neha.jpg",
  },
  {
    name: "Shivam",
    picture: "/images/people/shivam.jpg",
  },
  {
    name: "Akshay",
    picture: "/images/people/akshaym.jpg",
  },
  {
    name: "Jayraj",
    picture: "/images/people/jayraj.png",
  },
  {
    name: "Ratnesh",
    picture: "/images/people/ratnesh.jpg",
  },
  {
    name: "Anil",
    picture: "/images/people/anil.png",
  },
  {
    name: "Rahul",
    picture: "/images/people/rahul.png",
  },
  {
    name: "Siddharth",
    picture: "/images/people/siddharth.png",
  },
  {
    name: "Prashant",
    picture: "/images/people/prashant.png",
  },
  {
    name: "Tarun",
    picture: "/images/people/tarun.png",
  },
  {
    name: "Pratik",
    picture: "/images/people/pratik.png",
  },
  {
    name: "Varsha",
    picture: "/images/people/varsha.png",
  },
  {
    name: "Akshay",
    picture: "/images/people/akshays.png",
  },
  {
    name: "Divya",
    picture: "/images/people/divya.png",
  },
  {
    name: "Vrushali",
    picture: "/images/people/vrushali.jpg",
  },
  {
    name: "Rameez",
    picture: "/images/people/rameez.png",
  },
  {
    name: "Monica",
    picture: "/images/people/monica.png",
  },
  {
    name: "Manu",
    picture: "/images/people/manu.png",
  },
  {
    name: "Fatema",
    picture: "/images/people/fatema.png",
  },
  {
    name: "Sourabh",
    picture: "/images/people/sourabh.png",
  },
];
---
<a name="team"></a>
<div class="team">
    <div class="box"><h2>Our team</h2></div>
    <div class="lists">
        {team.map((t) => <div class="list12"><img src={t.picture} /><h4>{t.name}</h4></div>)}
        <div class="clear"></div>
    </div>
</div>